@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300&display=swap");

:root {
	--header-height: 70px;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
	font-family: "Noto Kufi Arabic", sans-serif;
	direction: rtl;
	color: white;
}

p {
	margin: 0;
}

body {
	overflow: hidden;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: var(--header-height);
	padding: 0vw 2vw 0 2vw;
	background-color: var(--primary);
}

#container {
	position: absolute;
	top: var(--header-height);
	left: 0;
	height: calc(100vh - var(--header-height));
	width: 100vw;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1vw;
	gap: 1vw;
}

.hoverable:hover {
	color: black;
	font-weight: bold;
}

.select {
	margin: 0;
	padding: 1vw;
	width: 100vw;
	display: flex;
	gap: 1vw;
}

.select details {
	width: 50vw;
}

details summary {
	font-size: calc(1vw + 1vh);
	display: flex;
	justify-content: center;
	align-items: center;
}

details button {
	margin: 1px;
}

details ul {
	overflow-y: auto;
}

#info {
	width: 100vw;
	font-size: 1.7vw;
	display: block;
	padding: 2vw;
	display: flex;
	gap: 0.4vw;
	justify-content: center;
	align-items: center;
}

#info .data {
	font-size: 2vw;
	background-color: var(--primary);
	width: fit-content;
	height: fit-content;
	padding: 0.4vw 1vw 0.4vw 1vw;
	border-radius: 15px;
}

.info-article {
	background-image: radial-gradient(
		circle 610px at 5.2% 51.6%,
		rgb(1, 3, 67) 0%,
		rgba(7, 3, 53, 1) 97.5%
	);
	border-radius: 5vw;
}

.title {
	background-color: rgba(76, 0, 255, 0.523);
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5vw;
}

.images {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.images .img-container {
	height: fit-content;
	width: fit-content;
	padding: 1vw;
	margin: 0.5vw;
}

.images img {
	height: 13vw;
	width: 20vw;
	margin: 1vw;
	border-radius: 15px;
}

.about {
	color: white;
	justify-content: center;
	text-align: center;
}

article {
	margin: 0;
}

@media screen and (max-width: 600px) {
	#container {
		display: flex;
		flex-direction: column;
	}

	#info {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto;
		gap: 1vw;
	}

	#info * {
		padding: 1vw;
	}

	.images img {
		height: 20vw;
		width: 30vw;
	}
}
