@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300&display=swap");

:root {
	--header-height: 70px;
	--primary: #220953 !important;
	--primary-hover: #4000c0 !important;
	--primary-focus: #8244ff !important;
	--primary-inverse: #ffffff !important;

}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
	font-family: "Noto Kufi Arabic", sans-serif;
	direction: rtl;
	color: white;
}

p {
	margin: 0;
}

.flexy-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
body {
	overflow: hidden;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: var(--header-height);
	padding: 0vw 2vw 0 2vw;
	background-color: var(--primary);
}

#container {
	position: absolute;
	top: var(--header-height);
	left: 0;
	height: calc(100vh - var(--header-height));
	width: 100vw;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1vw;
	padding-top: 3vw;
	gap: 1vw;
}

.hoverable:hover {
	color: black;
	font-weight: bold;
}

.select {
	margin: 0;
	padding: 1vw;
	width: 100vw;
	display: flex;
	gap: 1vw;
}



#info {
	width: 100vw;
	font-size: 1.7vw;
	display: block;
	padding: 2vw;
	display: flex;
	gap: 0.4vw;
	justify-content: center;
	align-items: center;
}

#info .data {
	font-size: 2vw;
	background-color: var(--primary);
	width: fit-content;
	height: fit-content;
	padding: 0.4vw 1vw 0.4vw 1vw;
	border-radius: 15px;
}

.info-article {
	width: fit-content;
	background-image: radial-gradient(
		circle 610px at 5.2% 51.6%,
		rgb(1, 3, 67) 0%,
		rgba(7, 3, 53, 1) 97.5%
	);
	border-radius: 5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

.title {
	width: fit-content;
	background-color: rgba(76, 0, 255, 0.523);
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5vw;
	padding: .4vw;

}

.info-article-continent {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	border-radius: 5vw;
	background-image: radial-gradient( circle 860px at 11.8% 33.5%,  rgba(240,30,92,1) 0%, rgba(244,49,74,1) 30.5%, rgba(249,75,37,1) 56.1%, rgba(250,88,19,1) 75.6%, rgba(253,102,2,1) 100.2% );
}


.info-article-continent p {
	color: black
}

.title-continent {
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5vw;
	background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
	padding: .4vw;
	color: white !important;
}


.images {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.images .img-container {
	height: fit-content;
	width: fit-content;
	padding: 1vw;
	margin: 0.5vw;
}

.images img {
	height: 13vw;
	width: 20vw;
	margin: 1vw;
	border-radius: 15px;
}

.about {
	color: white;
	justify-content: center;
	text-align: center;
}

article, h1 {
	margin: 0;
}

.picker li {
	overflow: hidden;
	overflow-y: auto;
	width: 90vw;
	height: 100vh;
	direction: ltr;
	padding: 3vw;
}

.picker li::-webkit-scrollbar {
	width: 30px;
}

.picker li::-webkit-scrollbar-track {
	background-color: rgb(45, 0, 91);
}

.picker li::-webkit-scrollbar-thumb {
	background-color: rgb(0, 136, 255);
}

@media screen and (max-width: 650px) {
	
	:root {
		--header-height: 100px;
	}

	.select {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.select details {
		width: 90%;
	}

	.select details summary {
		
		font-size: 6vw;
	}
	
	#container {
		display: flex;
		flex-direction: column;
	}

	#info {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto;
		gap: 1vw;
	}

	#info * {
		padding: 1vw;
	}

	.images img {
		height: 20vw;
		width: 30vw;
	}
	nav * {
		font-size: 3vw;
	}
}

.zoom {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw !important;
	height: 100vh !important;
	padding: 5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	margin: 0 !important;
}

.zoom img {
	height: 90vh;
	width: 90vw;
	border: 5vw solid black;
	border-radius: 0;
}